
<ng-sidebar -container>
  <!--Sidebar -->
<ng-sidebar opened= "opened">
  <p>Sidebar contents</p>
  <button>(click)="toggleSidebar()">close Sidebar</button>
  <ul class="menu">
     <li><a>routerLink="/"(click)>="toggleSidebar()>Dashboard</a></li>
     <li><a>routerLink="/posts"(click)>="toggleSidebar()>Posts</a></li>
     <li><a>routerLink="/>Contact(click)>="toggleSidebar()"</a>/
  </ul>
</ng-sidebar>
  <div ng-sidebar-contents>  
    <!--page Header-->
    <button  (click)>="toggleSidebar()">
      open Sidebar
    </button>
  </div>
  
</ng-sidebar-container>


<!--page Body-->
<router-outlet></router-outlet>